:root {
    --mt-blue: rgb(84, 180, 211);
    --mt-blue-hover: rgb(80, 171, 200);
    --mt-blue-shadow: rgba(84, 180, 211, 0.4);
    --mt-blue-highlight: 0 0 2px 3px var(--mt-blue-shadow);
}

.navbar {
    background-color: var(--mt-blue);
}

.mt-icon-lg {
    height: 10rem;
}

.mt-icon-md {
    width: 1.5rem;
}

.mt-icon-sm {
    width: 1rem;
}