.home-input {
    border: solid 2px var(--mt-blue);
}

.home-input:hover,
.accordion-button:focus,
.accordion-button:active {
    box-shadow: var(--mt-blue-highlight);
}

.btn-blue,
.accordion-button {
    background-color: var(--mt-blue) !important;
}

.btn-blue:hover {
    background-color: var(--mt-blue-hover);
}